@import "tailwindcss";

body.theme-ready {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}

body {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}
