@import "tailwindcss";

body.theme-ready {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}

body {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}

body * {
    font-family: 'Poppins', sans-serif !important;
}

html, body {
    height: 100%;
}

button, a {
    cursor: pointer !important;
}

select, ::picker(select){
    appearance: base-select;
}

@starting-style {
    select:popover-open::picker(select) {
        opacity: 0;
    }
}

::picker(select){
    border: none;
    border-radius: 10px;
    margin: 8px 0 8px 0;
}

select::picker-icon {
    color: #999;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}