@import "tailwindcss";

body.theme-ready {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}

body {
    background-color: var(--color-background-default);
    color: var(--color-text-primary);
}

body * {
    font-family: 'Poppins', sans-serif !important;
}

html, body {
    height: 100%;
}

button, a {
    cursor: pointer !important;
}
